  <br />
<form ng-submit="addmovie.createMov(movData);" name="myForm">
    <label>Movie Title:</label>
    <input class="form-control" type="text" name="title" placeholder="please enter movie title" ng-model="addmovie.movData.title" required>
    <br>
    <label>Genre:</label>
    <select class="form-control" type="text" name="genre" placeholder="please choose genre" ng-model="addmovie.movData.genre">
      <option value="Action">Action</option>
      <option value="Thriller">Thriller</option>
      <option value="Comedy">Comedy</option>
      <option value="Superhero">Superhero</option>
      <option value="Horror">Horror</option>
    </select>
    <br>
    <label>Star actor/actress:</label>
    <input class="form-control" type="text" name="star" placeholder="please enter actor/actress" ng-model="addmovie.movData.star">
    <br>

    <label>Release Year:</label>
    <input class="form-control" type="number" name="year" placeholder="please enter release year" ng-model="addmovie.movData.year">
    <br>


    <label>Image:</label>
    <input class="form-control" type="text" name="image" placeholder="please enter imageURL" ng-model="addmovie.movData.img">
    <br>
    <!-- Submit/Register Button -->
    <button class="btn btn-primary" type="submit">Add</button>
</form>

<br />

<div class="row show-hide-message" ng-show="addmovie.successMess">
  <div class="alert alert-success">
    {{addmovie.successMess}}
  </div>
</div>

<br />

<div class="row show-hide-message" ng-show="addmovie.errMess">
  <div class="alert alert-danger">
    {{addmovie.errMess}}
  </div>
</div>
